body
{
   background-color: #F5FFFA;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#mastim
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_txtmast1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_txtmast1 div
{
   text-align: left;
}
#mstshp
{
   width: 1054px;
   height: 45px;
   background-color: #4169E1;
   background-image: none;
   border: 0px #E1E1E1 solid;
}
#wb_txtmast 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_txtmast div
{
   text-align: center;
}
#imgmasthot
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#imgmastlogo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_txtmastgwfh 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_txtmastgwfh div
{
   text-align: left;
}
#wb_txtmastwomen 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_txtmastwomen div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Shape1
{
   border-width: 0;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text2 div
{
   text-align: justify;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text3 div
{
   text-align: justify;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text5 div
{
   text-align: justify;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_BulletedList1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList1 .bullet
{
   color: #000000;
   float: left;
   font-family: Verdana;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   padding: 2px;
   text-align: left;
   vertical-align: top;
   width: 23px;
}
#wb_BulletedList1 .item
{
   float: left;
   padding: 2px 0 2px 0;
   vertical-align: top;
   width: 308px;
}
#wb_BulletedList1 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList1 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList1 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList1 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList1 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList1 .item5
{
   height: 20px;
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_BulletedList2
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList2 .bullet
{
   color: #000000;
   float: left;
   font-family: Verdana;
   font-weight: bold;
   font-style: normal;
   font-size: 15px;
   padding: 2px;
   text-align: left;
   vertical-align: top;
   width: 29px;
}
#wb_BulletedList2 .item
{
   float: left;
   padding: 2px 0 2px 0;
   vertical-align: top;
   width: 1018px;
}
#wb_BulletedList2 .item0
{
   height: 74px;
   text-align: justify;
}
#wb_BulletedList2 .item1
{
   height: 56px;
   text-align: left;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text15 div
{
   text-align: justify;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text16 div
{
   text-align: justify;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text19 div
{
   text-align: justify;
}
#Image4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text20 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text20 div
{
   text-align: justify;
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text22 div
{
   text-align: justify;
}
#Image5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text23 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#wb_BulletedList3
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList3 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 2px;
   text-align: left;
   vertical-align: top;
   width: 13px;
}
#wb_BulletedList3 .item
{
   float: left;
   padding: 2px 0 2px 0;
   vertical-align: top;
   width: 992px;
}
#wb_BulletedList3 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item3
{
   height: 38px;
   text-align: left;
}
#wb_BulletedList3 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList3 .item6
{
   height: 20px;
   text-align: left;
}
#wb_Text24 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text24 div
{
   text-align: left;
}
#wb_BulletedList4
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList4 .bullet
{
   color: #000000;
   float: left;
   font-family: Verdana;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   padding: 2px;
   text-align: left;
   vertical-align: top;
   width: 11px;
}
#wb_BulletedList4 .item
{
   float: left;
   padding: 2px 0 2px 0;
   vertical-align: top;
   width: 1000px;
}
#wb_BulletedList4 .item0
{
   height: 38px;
   text-align: justify;
}
#wb_BulletedList4 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item4
{
   height: 38px;
   text-align: justify;
}
#wb_BulletedList4 .item5
{
   height: 42px;
   text-align: justify;
}
#wb_BulletedList4 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item9
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item10
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item11
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item12
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item13
{
   height: 38px;
   text-align: justify;
}
#wb_BulletedList4 .item14
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item15
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item16
{
   height: 38px;
   text-align: justify;
}
#wb_BulletedList4 .item17
{
   height: 56px;
   text-align: justify;
}
#wb_BulletedList4 .item18
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item19
{
   height: 38px;
   text-align: justify;
}
#wb_BulletedList4 .item20
{
   height: 38px;
   text-align: justify;
}
#wb_BulletedList4 .item21
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item22
{
   height: 20px;
   text-align: left;
}
#wb_Text25 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text25 div
{
   text-align: left;
}
#wb_BulletedList5
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList5 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 2px;
   text-align: left;
   vertical-align: top;
   width: 11px;
}
#wb_BulletedList5 .item
{
   float: left;
   padding: 2px 0 2px 0;
   vertical-align: top;
   width: 424px;
}
#wb_BulletedList5 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item6
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item7
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item8
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item9
{
   height: 20px;
   text-align: left;
}
#wb_Text26 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text26 div
{
   text-align: left;
}
#wb_Text27 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text27 div
{
   text-align: left;
}
#wb_BulletedList6
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList6 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 2px;
   text-align: left;
   vertical-align: top;
   width: 15px;
}
#wb_BulletedList6 .item
{
   float: left;
   padding: 2px 0 2px 0;
   vertical-align: top;
   width: 188px;
}
#wb_BulletedList6 .item0
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item1
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item2
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item3
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item4
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item5
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item6
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item7
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item8
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item9
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item10
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item11
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item12
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item13
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item14
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item15
{
   height: 24px;
   text-align: left;
}
#wb_BulletedList6 .item16
{
   height: 24px;
   text-align: left;
}
#wb_Text28 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text28 div
{
   text-align: left;
}
#wb_Text29 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text29 div
{
   text-align: left;
}
#wb_BulletedList7
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList7 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: top;
   width: 31px;
}
#wb_BulletedList7 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 246px;
}
#wb_BulletedList7 .item0
{
   height: 236px;
   text-align: left;
}
#wb_BulletedList8
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList8 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 2px;
   text-align: left;
   vertical-align: top;
   width: 19px;
}
#wb_BulletedList8 .item
{
   float: left;
   padding: 2px 0 2px 0;
   vertical-align: top;
   width: 654px;
}
#wb_BulletedList8 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item3
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList8 .item6
{
   height: 20px;
   text-align: left;
}
#wb_txtmnufoot
{
   background-color: transparent;
   background-image: none;
   color :#F5F5F5;
   font-family: Verdana;
   font-weight: normal;
   font-size: 15px;
   margin: 0;
   text-align: center;
}
#wb_txtmnufoot span
{
   margin: 0 4px 0 0px;
}
#mastnewsevents
{
   border-width: 0;
}
#imgmastsupport
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_testResponsiveMenu1
{
   background-color: rgba(65,105,225,1.00);
   display: block;
   font-family: Arial;
   font-weight: normal;
   text-align: left;
   width: 100%;
}
#testResponsiveMenu1
{
   background-color: #4169E1;
   display: inline-block;
   height: 50px;
}
#wb_testResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_testResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_testResponsiveMenu1 ul li
{
   background-color: #4169E1;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_testResponsiveMenu1 ul li i
{
   font-size: 15px;
   width: 15px;
}
#wb_testResponsiveMenu1 ul li a 
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   padding: 10px 20px 10px 30px;
   text-align: center;
   text-decoration: none;
}
#wb_testResponsiveMenu1 > ul > li > a 
{
   height: 30px;
}
.testResponsiveMenu1 a 
{
   display: block;
}
#wb_testResponsiveMenu1 li a:hover, #wb_testResponsiveMenu1 li .active
{ 
   background-color: #4169E1;
   color: #FFFFFF;
}
#wb_testResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 50px;
}
#wb_testResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
#wb_testResponsiveMenu1 ul ul li 
{
   background-color: #4169E1;
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 292px;
}
#wb_testResponsiveMenu1 ul ul li a:hover, #wb_testResponsiveMenu1 ul ul li .active
{
   background-color: #808080;
   color: #FFFFFF;
}
#wb_testResponsiveMenu1 ul ul li i 
{
   margin-right: 5px;
   vertical-align: middle;
}
#wb_testResponsiveMenu1 ul ul li a 
{
   color: #FFFFFF;
   padding: 10px 20px 10px 20px;
   text-align: left;
   vertical-align: middle;
}
#wb_testResponsiveMenu1 ul ul ul li 
{
   left: 292px;
   position: relative;
   top: -50px;
}
#wb_testResponsiveMenu1 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #FFFFFF;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_testResponsiveMenu1 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_testResponsiveMenu1 li a:hover .arrow-down
{ 
   border-top-color: #FFFFFF;
}
#wb_testResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_testResponsiveMenu1 ul ul li .active .arrow-left
{ 
   border-left-color: #FFFFFF;
}
#wb_testResponsiveMenu1 .toggle,[id^=testResponsiveMenu1-submenu]
{
   display: none;
}
@media all and (max-width:1223px) 
{
#wb_testResponsiveMenu1 
{
   margin: 0;
   text-align: left;
}
#wb_testResponsiveMenu1 ul li a, #wb_testResponsiveMenu1 .toggle
{
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   padding: 10px 20px 10px 20px;
}
#wb_testResponsiveMenu1 .toggle + a
{
   display: none !important;
}
.testResponsiveMenu1 
{
   display: none;
   z-index: 9999;
}
#testResponsiveMenu1 
{
   background-color: transparent;
}
#wb_testResponsiveMenu1 > ul > li > a 
{
   height: auto;
}
#wb_testResponsiveMenu1 .toggle 
{
   display: block;
   background-color: #4169E1;
   color: #FFFFFF;
   padding: 0px 20px 0px 20px;
   line-height: 36px;
   text-decoration: none;
   border: none;
}
#wb_testResponsiveMenu1 .toggle:hover 
{
   background-color: #4169E1;
   color: #FFFFFF;
}
[id^=testResponsiveMenu1-submenu]:checked + ul 
{
   display: block !important;
}
#testResponsiveMenu1-title
{
   height: 50px;
   line-height: 50px !important;
   text-align: center;
}
#wb_testResponsiveMenu1 ul li 
{
   display: block;
   width: 100%;
   text-align: left;
}
#wb_testResponsiveMenu1 ul ul .toggle,
#wb_testResponsiveMenu1 ul ul a 
{
   padding: 0 40px;
}
#wb_testResponsiveMenu1 a:hover,
#wb_testResponsiveMenu1 ul ul ul a 
{
   background-color: #4169E1;
   color: #FFFFFF;
}
#wb_testResponsiveMenu1 ul li ul li .toggle,
#wb_testResponsiveMenu1 ul ul a 
{
   background-color: #4169E1;
   color: #FFFFFF;
}
#wb_testResponsiveMenu1 ul ul ul a 
{
   padding: 10px 20px 10px 60px;
}
#wb_testResponsiveMenu1 ul li a 
{
   text-align: left;
}
#wb_testResponsiveMenu1 ul li a br 
{
   display: none;
}
#wb_testResponsiveMenu1 ul li i 
{
   margin-right: 5px;
}
#wb_testResponsiveMenu1 ul ul 
{
   float: none;
   position: static;
}
#wb_testResponsiveMenu1 ul ul li:hover > ul,
#wb_testResponsiveMenu1 ul li:hover > ul 
{
   display: none;
}
#wb_testResponsiveMenu1 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_testResponsiveMenu1 ul ul ul li 
{
   position: static;
}
#testResponsiveMenu1-icon 
{
   display: block;
   position: absolute;
   left: 30px;
   top: 13px;
}
#testResponsiveMenu1-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #FFFFFF;
   color: #FFFFFF;
   width: 24px;
}
#wb_testResponsiveMenu1 ul li ul li .toggle:hover
{
   background-color: #808080;
   color: #FFFFFF;
}
#wb_testResponsiveMenu1 .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_testResponsiveMenu1 .toggle:hover .arrow-down, #wb_testResponsiveMenu1 li .active .arrow-down
{ 
   border-top-color: #FFFFFF;
}
#wb_testResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_testResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_testResponsiveMenu1 ul li ul li .active .arrow-down
{ 
   border-top-color: #FFFFFF;
}
}
#wb_indexText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText1 div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Shape1
{
   border-width: 0;
}
#imgnhif
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#imgaon
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#imgapa
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#imgcbk
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#imgcic
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#imgcoop
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#imgeldowas
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#imgkenyaseed
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#linacce
{
   border-color: #4169E1;
   border-style: solid;
   border-bottom-width: 9px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#socialmedia_sticky
{
   background-color: transparent;
   background-image: none;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
}
#MergedObject1
{
   -webkit-transition: all 500ms ease-out 0ms;
   -moz-transition: all 500ms ease-out 0ms;
   transition: all 500ms ease-out 0ms;
}
#MergedObject1:hover
{
   -webkit-transform: translate(-100px,0px) rotate(0deg) ;
   -moz-transform: translate(-100px,0px) rotate(0deg) ;
   transform: translate(-100px,0px) rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#Image5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
